:root {
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --background-color: #f5f5f5;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.6em;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    background-color: var(--background-color);
    min-width: 48rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--primary);
}

.navigation {
    display: flex;
    margin: 2rem auto 2rem auto;
    justify-content: flex-end;
    width: 80%;
}
.navigation > nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.navigation nav li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.contents {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-grow: 1;
}

h2 {
    margin-top: 4rem;
    margin-bottom: 8rem;
    font-size: 4rem;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.pagination li span {
    border: 1px solid var(--secondary);
    color: var(--secondary);
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.pagination li span:hover {
    color: var(--background-color);
    border-color: var(--background-color);
    background-color: var(--secondary);
}

.pagination span {
    font-size: 3.6rem;
    padding: 0.4rem;
}

.pagination li {
    display: inline;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--secondary);
}

footer > small {
    margin-top: 1rem;
}

footer ul {
    display: flex;
}

footer > ul > li {
    margin: 0.4rem;
}